/* Core does weird stuff with entity references. */

.field--type-entity-reference {
  margin: inherit;
  font-family: inherit;
}

.field--type-entity-reference .field__label {
  font-weight: inherit;
  margin: inherit;
  padding-right: 5px; /* LTR */
}

.field--type-entity-reference .field__label,
.field--type-entity-reference ul.links {
  font-size: inherit;
}

.node--view-mode-teaser .field--type-entity-reference .field__label,
.node--view-mode-teaser .field--type-entity-reference ul.links {
  font-size: inherit;
}
.field--type-entity-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.field--type-entity-reference ul.links li {
  float: left; /* LTR */
  padding: 0 1em 0 0; /* LTR */
  white-space: nowrap;
}
