/**
 * Node styling.
 */

.is-unpublished {
  background-color: #fff4f4;
}

.node-preview-container {
  margin-top: -($grid-gutter-width / 2);
}

.node-preview-form-select {
  padding: ($grid-gutter-width / 2);
}

/* Landing page custom styles */

.page-node-type-landing {
  .breadcrumb-wrapper.container {
	  margin: 0;
  }
  .highlighted-top-wrapper {
    margin-top: -1px;
    position: relative;
  }
  .highlighted-top-wrapper-inner {
    width: 100%;
    height: 100%;
  }
  .highlighted-top {
    Width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    .region-highlighted-top {

    }
	  .block-webform-block {
			width: 370px;
			background-color: #fff;
	    margin-top: 50px;
			.block-title {
		    font-size: 24px;
		    line-height: 24px;
		    text-transform: none;
		    border-left: none;
		    margin-top: 2.2rem;
		    margin-bottom: 0;
			}
			form {
			  padding: 15px 25px 10px;
			}
			.form-item label {
			  font-weight: normal;
			  font-size: 14px;
			}
			.form-item-intro {
        margin-bottom: 22px;
			}
			input.form-text,
			input.form-email {
			  border-radius:0;
			  height: 28px;
			}
			.form-item-notice {
			  font-size: 12px;
			}
			.webform-button--submit {
			  width: 325px;
			  height: 65px;
			  background-color: #FFB500;
			  border: none;
			  font-size: 32px;
			  text-transform: uppercase;
			}
		}
	}

	.paragraph--type--featured-section {
		float: left;
	}
	.paragraph--type--featured-section .field--name-field-section-image img {
		width: 100%;
	}
	.paragraph--type--featured-section .field--name-field-section-big-text {
	  position: absolute;
	  top: 140px;
	  color: #fff;
	  font-size: 34px;
	  line-height: 44px;
	  font-weight: 500;
	  text-transform: uppercase;
	  font-family: "soleilbold";
	}
	.paragraph--type--featured-section .field--name-field-section-small-text {
	  width: 670px;
		position: absolute;
	  top: 480px;
	  color: #fff;
	  font-size: 20px;
	  line-height: 26px;
	}
  article {
    margin-top: 4em;
	  .field--name-body {
	    font-weight: lighter;
	    margin: 14px 0 34px;
	    p {
		    font-size: 28px;
		    line-height: 45px;
		  }
		}
		.field--name-field-info-button {
		  background-color: #FFB500;
		  font-size: 22px;
		  text-transform: uppercase;
		  width: 280px;
		  border-radius: 4px;
		  a {
		    display: block;
	      color: #fff;
	      padding: 6px 5px 10px 20px;
	      &:hover {
          text-decoration: none;
        }
	      &:after {
	        font-family: "Font Awesome 5 Free";
	        font-weight: 900;
			    content: "\f0a9";
			    color: #fff;
			    font-size: 26px;
			    font-style: normal;
			    margin: 0px 0px 0px 20px;
			    text-decoration: none;
			    pointer-events: none;
	      }
		  }
		}
	}
	#block-onlinecourseslanding {
	  .field--name-body {
	    font-size: 18px;
	    line-height: 32px;
	  }
	}
  .page-second-sidebar-section {
	  margin-bottom: 10rem;
	}
}
/* Download page custom styles */

.page-node-type-download {
  .node--type-download {
    margin-top: 10px;
    margin-bottom: 15.5em;
  }
	h1.page-header {
	  display: none;
	}
	.field--name-node-title h2 {
	  font-size: 54px;
	  line-height: 58px;
	}
	.node--type-download .field--name-body {
	  font-size: 28px;
	  line-height: 45px;
	  font-weight: lighter;
	  margin: 22px 0 34px;
	}
	.field--name-field-download-file {
	  background-color: #FFB500;
	  font-size: 32px;
	  text-transform: uppercase;
	  width: 315px;
	  border-radius: 4px;
	  a {
	    display: block;
      color: #fff;
      padding: 10px 35px;
      font-size: 32px;
      font-weight: normal;
      &:hover {
        text-decoration: none;
      }
      &:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
		    content: "\f1c1";
		    color: #fff;
		    font-style: normal;
		    margin: 0px 0px 0px 20px;
		    text-decoration: none;
		    pointer-events: none;
      }
	  }
	}
	.field--name-field-learn-info {
    font-size: 28px;
    font-weight: lighter;
    margin: 58px 0 5px;
	}
	.field--name-field-learn-link {
    a {
      color: #FFB500;
      font-size: 24px;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
      }
      &:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
		    content: "\f0a9";
		    color: #FFB500;
		    font-style: normal;
		    text-decoration: none;
		    pointer-events: none;
		    margin-right: 15px;
      }
    }
	}
	.field--name-field-download-image {
	  float: right;
	  margin-top: 18px;
	}
	.ds-2col-fluid > .group-right {
    width: 40%
	}
	.ds-2col-fluid > .group-left {
    width: 60%;
	}
}
@media screen and (min-width: 768px) {
  .page-node-type-landing {
    .highlighted-top-wrapper-inner {
        position: absolute;
        top: 0;
    }
    .highlighted-top {
      width: 750px;
      .region-highlighted-top {
	      float: right;
	    }
	  }
    .page-second-sidebar-section {
      padding: 0 0 0 6rem;
      margin-bottom: 0;
    }
    .paragraph--type--featured-section .field--name-field-section-big-text {
			width: 320px;
			position: absolute;
		  top: 140px;
		  font-size: 34px;
		  line-height: 44px;
	  }
	  .paragraph--type--featured-section .field--name-field-section-small-text {
		  width: 320px;
			position: absolute;
		  top: 480px;
		  font-size: 20px;
		  line-height: 26px;
	  }
    article {
      margin-bottom: 11.5em;
      .field--name-field-info-button {
        font-size: 32px;
		    width: 412px;
        a {
          padding: 6px 33px 10px;
          &:after {
			      font-size: 36px;
			    }
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .page-node-type-landing {
	  .highlighted-top {
	    width: 100%;
	    height: 100%;
	    padding: 0;
	    margin: 0 auto;
	  }
	  .paragraph--type--featured-section .field--name-field-section-big-text {
			width: 520px;
		  font-size: 44px;
		  line-height: 54px;
	  }
	  .paragraph--type--featured-section .field--name-field-section-small-text {
		  width: 520px;
		  font-size: 26px;
		  line-height: 32px;
	  }
  }
}
@media screen and (min-width: 1040px) and (max-width: 1200px) {
  .page-node-type-landing {
    .highlighted-top {
      width: 970px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .page-node-type-landing {
    .highlighted-top {
      width: 1200px;
    }
    .paragraph--type--featured-section .field--name-field-section-big-text {
			width: 670px;
			position: absolute;
		  top: 140px;
		  font-size: 54px;
		  line-height: 64px;
	  }
	  .paragraph--type--featured-section .field--name-field-section-small-text {
		  width: 670px;
			position: absolute;
		  top: 480px;
		  font-size: 30px;
		  line-height: 36px;
	  }
  }
}
@media screen and (min-width: 1600px) {
  .page-node-type-landing {
	  .highlighted-top-wrapper {
	    img {
	      width: 100%;
	    }
	  }
	}
}
@media screen and (max-width: 991px) {
  .page-node-type-download .ds-2col-fluid > .group-left,
  .page-node-type-download .ds-2col-fluid > .group-right {
    width: 100%;
  }
  .page-node-type-download .field--name-field-download-image {
    float: none;
    margin-top: 65px;
  }
}
@media screen and (max-width: 767px) {
  .page-node-type-landing {
	  .highlighted-top-wrapper {
	    img {
	      width: 100%;
	    }
	  }
	  .main-container h1.page-header {
      font-size: 34px;
      line-height: 38px;
    }
	  .paragraph--type--featured-section {
	    float: none;
	    .field--name-field-section-big-text {
	      width: 100%;
        top: 60px;
        font-size: 30px;
        line-height: 32px;
        padding: 0px 20px;
	    }
	    .field--name-field-section-small-text {
        width: 100%;
        top: 200px;
        font-size: 20px;
        line-height: 22px;
        padding: 0px 20px;
	    }
	    article .field--name-field-info-button {
	      margin: 0 auto;
	    }
	  }
	}
	.page-node-type-download {
	  .field--name-node-title h2 {
	    font-size: 34px;
      line-height: 38px;
	  }
	  .field--name-field-download-image img {
	    margin: 0 auto;
	  }
	  .field--name-field-download-file {
	    margin: 0 auto;
	  }
	}
}
@media screen and (max-width: 617px) {
  .page-node-type-landing {
    .paragraph--type--featured-section {
	    float: none;
	    .field--name-field-section-big-text {
	      width: 100%;
        top: 30px;
        font-size: 24px;
        line-height: 24px;
	    }
	    .field--name-field-section-small-text {
        width: 100%;
        top: 140px;
        font-size: 18px;
        line-height: 18px;
	    }
	  }
  }
}
@media screen and (max-width: 501px) {
  .page-node-type-landing {
    .paragraph--type--featured-section {
	    float: none;
	    .field--name-field-section-big-text {
	      width: 100%;
        top: 10px;
        font-size: 24px;
        line-height: 24px;
        padding: 0px 20px;
	    }
	    .field--name-field-section-small-text {
        width: 100%;
        top: 110px;
        font-size: 18px;
        line-height: 18px;
        padding: 0px 20px;
	    }
	  }
	  article .field--name-body p {
	    //font-size: 18px;
	    //line-height: 24px;
	  }
  }
  .page-node-type-download {
    node {
      .field--name-body,
      .field--name-field-learn-info {
        //font-size: 18px;
	      //line-height: 24px;
	    }
    }
  }
}
