/* Specific styles for preliminary work on Prevention Solutions */

body {
  background-color: #dddddd !important;
  font-family: Verdana, Helvetica, Arial, "Trebuchet MS";
  font-size: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

.site-branding__name a {
  color: #fcb53b !important;
  display: none;
}

.region-secondary-menu {
  background-color: #1d4767;
}

ul.sf-menu  li.sf-depth-2 {
  background-color: #1d4767;
}

.superfish-main li.sf-depth-2 a:hover {
  color: #27628e;
}

#block-mainnavigation {
  margin: 0;
}

#block-mainnavigation .content {
  float: right;
}

.site-footer {
  font-size: 85%;
}

.region-footer-fourth {
  float: right !important;
}

.region-primary-menu .menu a {
  background-color: #fcb53b;
}

.search-form,
.region-secondary-menu {
  float: right;
}

#block-edcaddress {
  margin: 0 !important;
  padding: 0 !important;
}

.path-frontpage .node__links {
  display: none;
}

.page-node-type-person .field--name-field-title,
#block-views-block-staff-block-1 h3 {
  color: #660088;
  font-size: 1.2em;
}

.page-node-type-person .field--name-body {
  margin-top: 1em;
}

#block-views-block-staff-block-1 .views-row {
  clear: both;
}

#block-views-block-staff-block-1 .views-field-field-image {
  float: left;
  margin: 0 1em 1em 0;
}

.view-quotes .views-row {
  /*background-color: #ffffcc;
  font-family: serif;*/
  margin: 0 2em 0 2em;
  padding: 1.5em;
}

.view-quotes p {
  color: #27628e;
  display: inline;
  font-size: 90%;
  font-style: italic;
  margin: 0;
}

.view-quotes p::before {
  content: '"';
}

.view-quotes p::after {
  content: '"';
}

.view-quotes .views-field-field-source {
  display: inline;
  font-family: sans-serif;
  font-size: 80%;
}

.view-id-trainings .view-footer {
  font-family: serif;
  font-size: 90%;
  margin-top: 1em;
}

.view-id-trainings p {
  margin: 0;
}

.view-id-trainings.ui-accordion .ui-accordion-content {
  padding: .5em 2em;
}

.view-id-trainings.ui-accordion .ui-state-default {
  background: #fcb53b;
}

.block-views-blocktrainings-block-1 h2 {
  display: none;
}

.view-id-resources th,
.view-id-resources td {
  vertical-align: top;
}
