// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
// jQuery UI style overrides.
@import "jquery-ui/autocomplete";
// Footer always on the bottom
html,
body,
.site-wrapper {
    width: 100%;
    height: 100%;
}

.dialog-off-canvas-main-canvas {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main-wrapper {
    flex-grow: 1;
}

.header-wrapper,
.main-wrapper,
.featured-bottom-three-sections-wrapper,
.footer-wrapper {
    flex-shrink: 0;
}

// Other styles
ol,
ul {
    padding-left: 1.5em;
    .popover &:last-child {
        margin-bottom: 0;
    }
}

body {
    margin: 0;
    font-family: $font-family-base;
}

h2 {
    color: $edc-blue;
    font-size: 3.6rem;
    line-height: 4.2rem;
    font-family: $soleil-bold;
    padding-left: 2.5rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1rem;
    margin-bottom: 5rem;
    border-left: 0.6rem solid $yellow;
    text-transform: uppercase;
}

h3 {
    color: $dark-gray;;
    font-size: 3.6rem;
    line-height: 4.2rem;
    font-family: $soleil-bold;
    padding: 0;
    margin-bottom: 3rem;
}

h4 {
    color: $dark-gray;
    font-size: 2.4rem;
    line-height: 3rem;
    font-family: $soleil-bold;
    padding: 0;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

h5 {
    color: $dark-gray;
    font-size: 1.8rem;
    line-height: 3rem;
    font-family: $soleil-bold;
    padding: 0;
    margin-bottom: 3rem;
}

#block-logout {
  .field--name-body {
    a {
      color: $white;
    }
  }
}


// Wrappers
.main-wrapper {
    margin: 0 auto;
    background-color: $white;
}

.header-wrapper {
    background-color: $edc-blue;
}

.breadcrumb-wrapper.container {
  margin: 2rem auto 0;
  padding: 0;
  @media #{$mobile} {
    margin: 2rem 1.5rem;
  }
  .page-breadcrumb-section {
    padding: 0;
    margin: 0;
    ol.breadcrumb {
      background-color: $white;
      padding: 0;
      margin: 0;
      li {
        color: $edc-blue;
        text-transform: uppercase;
        font-family: $soleil-light;
        a {
          color: $dark-gray;
          text-transform: uppercase;
          font-family: $soleil-light;
        }
      }
    }
  }
}

// Page header.
/* .path-frontpage {
  .header-wrapper {
    overflow: hidden;
    &::after {
      background-image: url("../images/homepage-header.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      width: 100vw;
      height: 40vw;
      position: relative;
      bottom: 0;
      display: block;
    }
  }
} */

.homepage-header-image-wrapper {
    img {
        width: 100%;
    }
}

.page-header {
    margin-top: 0;
}

.navbar.container {
    max-width: 1170px;
}

.navbar.container.navbar-default {
    background-color: transparent;
    padding: 0;
    border: 0;
    @media #{$tablet} {
        min-height: 160px;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        &::after,
        &::before {
            display: none;
        }
    }
    .navbar-collapse,
    .navbar-header {
        padding: 0;
        border: 0;
        @media #{$mobile} {
            margin-right: 0;
            margin-left: 0;
        }
        @media #{$tablet} {
            &::after,
            &::before {
                display: none;
            }
        }
    }
    .navbar-header {
        align-self: center;
    }
}

.region-navigation-collapsible {
    @media #{$tablet} {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: space-between;
        height: 100%;
        &::after,
        &::before {
            display: none;
        }
    }
}

#block-prevsol-account-menu {
    background-color: $darker-blue;
    .navbar-right {
        @media #{$tablet} {
            margin-right: 0;
        }
        & > li {
            &.active {
                a {
                    background-color: transparent;
                }
            }
            & > a {
                @media #{$tablet} {
                  color: $white;
                  text-transform: uppercase;
                  font-family: $soleil-light;
                  font-weight: normal;
                  font-size: 1.2rem;
                  line-height: 1.2rem;
                  padding-top: 1rem;
                  padding-bottom: 1rem;
                  &::before {
                    content: "|";
                    position: relative;
                    top: 0;
                    left: -1.5rem;
                    color: $white;
                    width: 1rem;
                    height: 1rem;
                  }
                }
                &:hover {
                    color: $yellow;
                }
            }
            &:first-of-type {
              a {
                &::before {
                  display: none;
                }
              }
            }
            &:last-of-type {
              display: none;
            }
        }
    }
    .menu--account {
      @media #{$mobile} {
        li {
          a {
            text-transform: uppercase;
            color: $white;
            font-size: 1.6rem;
            line-height: 1.6rem;
            font-family: $soleil;
            padding: 1em 1.5em;
          }
        }
      }
    }
}

.user-logged-in {
  #block-prevsol-account-menu {
    .navbar-right {
      li:last-of-type {
        display: block;
      }
    }
  }
}

#block-prevsol-mainnavigation {
    &.block-superfish {
        width: auto;
    }
    ul.sf-menu ul {
      @media #{$tablet} {
        &::before {
          content: '';
          position: absolute;
          left: 42%;
          top: -1rem;
          width: 0;
          height: 0;
          border-left: 1.5rem solid transparent;
          border-right: 1.5rem solid transparent;
          border-bottom: 1rem solid $darker-blue;
          clear: both;
        }
      }
    }
    .sf-menu {
        & > li {
            @media #{$tablet} {
                padding-left: 6rem;
                padding-top: 0;
                padding-bottom: 3rem;
            }
            & > a {
                text-transform: uppercase;
                color: $white;
                font-size: 1.8rem;
                line-height: 1.8rem;
                font-family: $soleil-bold;
                padding: 1rem 2rem;
                @media #{$tablet} {
                    font-weight: bold;
                    padding: 0;
                    border-bottom: 4px solid transparent;
                    padding-bottom: 3px;
                    &:hover {
                        color: $yellow;
                        text-decoration: none;
                    }
                    &.is-active {
                        border-bottom: 4px solid $yellow;
                        padding-bottom: 3px;
                        text-decoration: none;
                    }
                    &.sf-with-ul + ul {
                      background-color: $darker-blue;
                      box-shadow: none;
                      padding: 1.5rem;
                      & > li {
                        & > a {
                          color: $white;
                          text-decoration: none;
                          font-size: 1.8rem;
                          line-height: 2.4rem;
                          font-family: $soleil;
                          padding: 1rem 1rem;
                          &:hover {
                            color: $yellow;
                          }
                        }
                      }
                    }
                }
            }
            &.sf-expanded {
              @media #{$mobile} {
                ul {
                  li {
                    a {
                      padding: 1rem 4.5rem;
                      font-size: 1.4rem;
                      font-family: $soleil;
                      color: $white;
                      text-transform: uppercase;
                    }
                  }
                }
              }
            }
        }
    }
    .superfish-main-accordion {}

    .sf-accordion-toggle {
      display: none;
    }
}

#block-prevsol-account-menu,
#block-prevsol-mainnavigation {
    .navbar-nav {
        @media #{$mobile} {
            margin: 0;
        }
    }
}

// Lower Section.
.lower-section-wrapper {
    background-color: $light-gray;
    margin-bottom: 8rem;
    .lower-section {
        margin-top: 6rem;
        margin-bottom: 6rem;
        #block-prevsol-views-block-staff-block-1 {
          & > h2 {
            margin-bottom: 6rem;
          }
        }
        .view-staff {
          .views-row {
            border-top: 2px solid $gray;
            padding-top: 2rem;
            padding-bottom: 2rem;
            &:last-of-type {
              border-bottom: 2px solid $gray;
            }
            .bio-item {
              .bio-header {
                display: flex;
                .bio-picture {
                  padding-right: 1rem;
                }
                .bio-info {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  .member-name {
                    font-family: $soleil-bold;
                    color: $dark-gray;
                    text-decoration: none;
                    font-size: 1.8rem;
                    line-height: 3rem;
                    a {
                      font-family: $soleil-bold;
                      color: $dark-gray;
                      text-decoration: none;
                      &:hover {
                        text-decoration: none;
                      }
                    }
                  }
                  .member-title {
                    font-size: 1.8rem;
                    line-height: 3rem;
                    font-family: $soleil;
                  }
                  .read-bio-toggle {
                    font-family: $soleil-bold;
                    font-weight: bold;
                    font-size: 1.8rem;
                    color: $yellow;
                    cursor: pointer;
                    &::before {
                      font-family: "Font Awesome 5 Free";
                      font-weight: 900;
                      content: "\f0fe";
                      color: $yellow;
                      font-style: normal;
                      margin: 0px 10px 0px 0;
                      text-decoration: none;
                    }
                    &.active {
                      &::before {
                        content: "\f146";
                      }
                    }
                  }
                }
              }
              .bio-body {
                padding-top: 2rem;
                display: none;
                font-size: 1.6rem;
                line-height: 2.4rem;
                font-family: $soleil;
              }
            }
          }
        }
    }
}

// Footer.
.footer-wrapper {
    background-color: $edc-blue;
}

.footer {
    margin-top: 45px;
    padding-top: 35px;
    padding-bottom: 36px;
}

.block.block-block-content {
    span.ext {
        display: none;
    }
}

#block-followusfooter {
  h2.block-title {
    color: $white;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-family: $soleil;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .field--name-body {
    padding-top: 2rem;
  }
  i.fab {
    color: $white;
    font-size: 2rem;
    margin-right: 2rem;
    &:hover {
      color: $yellow;
    }
  }
}

.footer-four-sections-wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
    @media #{$tablet} {
        &.container {
            padding-left: 0;
            padding-right: 0;
            display: flex;
            flex-wrap: wrap;
            .col-md-3 {
                padding: 0;
                flex: 1 0 205px;
            }
        }
    }
    .col-sm-12 {
        margin-bottom: 3rem;
    }
}

#block-prevsol-footer {
  margin: 0;
  padding: 0;
  .menu--footer.nav {
    margin: 0;
    padding: 0;
    li {
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
      padding-bottom: 1.5rem;
      a {
        color: $white;
        font-size: 1.8rem;
        line-height: 1.8rem;
        font-family: $soleil;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        &:hover {
          color: $yellow;
          background-color: transparent;
        }
      }
    }
  }
}

#block-prevsol-copyright {
    .field--name-body {
        p {
            font-size: 1.2rem;
            color: $white;
            font-family: $soleil-light;
        }
    }
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
    margin-bottom: 0;
}

// Help region.
.region-help {
    >.glyphicon {
        font-size: $font-size-large;
        float: left;
        margin: -0.05em 0.5em 0 0;
    }
    .block {
        overflow: hidden;
    }
}

.help-block,
.control-group .help-inline {
    color: $gray-light;
    font-size: 12px;
    margin: 5px 0 10px;
    padding: 0;
    &:first-child {
        margin-top: 0;
    }
}

.container {
    max-width: 1170px;
}

.featured-bottom-three-sections-wrapper {
    background-color: $light-gray;
    margin-bottom: 8rem;
    .featured-bottom-three-sections {
        padding: 6rem 0;
        @media #{$tablet} {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &::after,
            &::before {
                display: none;
            }
        }
        .featured-bottom-first,
        .featured-bottom-second,
        .featured-bottom-third {
            @media #{$tablet} {
                max-width: 365px;
                flex: 1 0 250px;
            }
            @media #{$mobile} {
                padding: 0 15px 2rem 15px;
            }
            p {
                font-family: $soleil;
                font-size: 1.8rem;
            }
        }
    }
}

.region.region-sidebar-second {
    background-color: $white;
    border: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    h2.block-title {
        margin: 0;
        padding: 0;
        font-size: 3.6rem;
        color: $edc-blue;
        font-family: $soleil;
        margin-bottom: 2rem;
        border: 0;
        font-weight: normal;
        text-transform: none;
    }
    .view-what-s-new {
        .views-row {
            font-family: $soleil;
            color: $dark-gray;
            font-size: 1.4rem;
            margin-bottom: 2rem;
            .views-field-type,
            .views-field-created {
                text-transform: uppercase;
            }
            .views-field-title {
                font-size: 2rem;
                a {
                    color: $dark-gray;
                }
            }
        }
    }
}

.row-second {
    @media #{$tablet} {
        display: flex;
        .section-content.col-sm-8 {
            &.has-second-sidebar {
                padding-right: 3rem;
            }
        }
    }
    @media #{$mobile} {
        .section-content.col-sm-8 {
            &.has-second-sidebar {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                padding-bottom: 3rem;
            }
        }
    }
}

body.path-frontpage {
    .main-container {
        h1.page-header {
            span {
                font-size: 3.6rem;
                line-height: 4.2rem;
            }
        }
    }
}

.main-container {
  .row {
    @media #{$mobile} {
      margin-right: 0;
      margin-left: 0;
    }
  }

  @media #{$tablet} {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .section-content {
    margin: 0;
    padding: 0;
  }
  h1.page-header {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0;
    border-left: 6px solid $yellow;
    padding: 0 0 0 2.5rem;
    span {
      margin: 0;
      font-family: $soleil-bold;
      font-size: 5.4rem;
      line-height: 5.4rem;
      text-transform: uppercase;
      color: $edc-blue;
    }
  }
  article.page {
    .field--name-body {
      p {
        font-family: $soleil-light;
        font-size: 2.4rem;
        line-height: 3.6rem;
        color: $dark-gray;
      }
    }
    .field--name-field-image {
      img {
        margin-top: 2rem;
        margin-bottom: 4rem;
      }
    }
  }
  .block-views-blockquotes-block-2 {
      margin-top: 3rem;
      .views-field-body {
          p {
              span {
                  font-family: $soleil-semibold-italic;
                  font-size: 2.2rem;
                  color: $edc-blue;
              }
          }
      }
      .views-field-field-source {
          font-family: $soleil;
          font-size: 1.8rem;
          color: $dark-gray;
      }
  }
}

body.path-frontpage {
  .page-second-sidebar-section {
      @media #{$tablet} {
          border-left: 1px solid $gray-divider;
      }
  }
}

.page-second-sidebar-section {
  @media #{$tablet} {
      padding: 0 0 0 3rem;
  }
}

ul.sf-menu .sf-sub-indicator {
  display: none;
}

figure.align-center {
  position: relative;
  margin-bottom: 2rem;
  &:hover::after {
    background-color: $darker-blue;
    opacity: 0.7;
    content: "";
    display: flex;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  img {
      width: 100%;
  }
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $edc-blue;
    opacity: 0.8;
    padding: 1rem 1rem;
    width: 100%;
    font-family: $soleil;
    font-size: 2.4rem;
    color: $white;
    text-transform: uppercase;
    pointer-events: none;
    &::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f0a9";
        color: $yellow;
        font-style: normal;
        margin: 0px 0px 0px 10px;
        text-decoration: none;
        pointer-events: none;
    }
  }
}

#block-prevsol-views-block-areas-of-expertise-block-1 {
    .view-areas-of-expertise.ui-accordion {
        .views-row {
            &>.views-row {
                &:first-of-type {
                    border-top: 2px solid $gray;
                }
            }
            .views-field-title.views-accordion-header {
                border: 0;
                padding: 1rem 0;
                margin: 0;
                outline: none;
                border-bottom: 2px solid $gray;
                &.ui-accordion-header-collapsed {
                    background: transparent;
                    .ui-accordion-header-icon.ui-icon {
                        display: none;
                    }
                    .field-content a {
                      font-family: $soleil-bold;
                      font-weight: bold;
                      font-size: 3.6rem;
                      color: $dark-gray;
                      &::before {
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        content: "\f0fe";
                        color: $yellow;
                        font-style: normal;
                        margin: 0px 2rem 0px 0;
                        text-decoration: none;
                        font-size: 3.2rem;
                      }
                    }
                }
                &.ui-state-active {
                    background: transparent;
                    outline: none;
                    .ui-accordion-header-icon.ui-icon {
                        display: none;
                    }
                    .field-content a {
                      color: $dark-gray;
                      font-family: $soleil-bold;
                      font-weight: bold;
                      font-size: 3.6rem;
                      &::before {
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        content: "\f146";
                        color: $yellow;
                        font-style: normal;
                        margin: 0px 2rem 0px 0;
                        text-decoration: none;
                        font-size: 3.2rem;
                      }
                    }
                }
                .field-content {
                    color: $dark-gray;
                    font-size: 2rem;
                    font-family: $soleil;
                }
            }
            .ui-accordion-content {
                &.ui-accordion-content-active {
                    background-color: transparent;
                    border: 0;
                    border-bottom: 2px solid $gray;
                    font-size: 2.4rem;
                    font-family: $soleil;
                    p {
                        font-size: 2.4rem;
                        font-family: $soleil
                    }
                    ul {
                      list-style: none;
                      li {
                        margin: 2rem 0 2rem 4rem;
                        padding-left: 0;
                        text-indent: -3rem;
                        &::before {
                          content: "•";
                          color: $edc-blue;
                          margin-right: 1.5rem;
                        }
                      }
                    }
                    @media #{$tablet} {
                        padding: 1.4rem 0;
                    }
                }
            }
        }
    }
}

// Services page
#block-moreservices {
    .field--name-body {
        &>h2 {
            padding-left: 1rem;
            padding-top: 0;
            padding-bottom: 0;
            border-left: 6px solid $yellow;
            border-bottom: 0;
            font-family: $soleil-bold;
            font-size: 3.6rem;
            line-height: 4.2rem;
            text-transform: uppercase;
            color: $edc-blue;
            margin-bottom: 3rem;
        }
        &>.training,
        &>.consultation,
        &>.online {
            margin-bottom: 4rem;
            display: flex;
            img.align-left {
                margin-right: 2rem;
            }
            h4 {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                font-family: $soleil-bold;
                font-size: 2.4rem;
                line-height: 3rem;
                color: $dark-gray;
                text-transform: uppercase;
            }
            p {
                font-family: $soleil;
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
            a.icon-text-link {
                color: $yellow;
                font-size: 2.4rem;
                line-height: 3rem;
                font-family: $soleil-bold;
                text-transform: uppercase;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
                &::before {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f0a9";
                    color: $yellow;
                    font-style: normal;
                    margin: 0px 10px 0px 0;
                    text-decoration: none;
                }
            }
        }
    }
}

.view-quotes {
    margin-top: 2rem;
    .views-field-body {
        p {
          font-family: $soleil-semibold-italic;
          font-size: 2.2rem;
          color: $edc-blue;
        }
    }
    .views-field-field-source {
        .field-content {
            margin-top: 2rem;
            font-family: $soleil;
            font-size: 1.8rem;
            color: $dark-gray;
            display: block;
        }
    }
}

// Resources page specific styles

.page-node-12 {
  .field--name-body {
    p {
      span {
        font-family: $soleil-light;
        font-size: 2.8rem;
        line-height: 4.5rem;
        color: $dark-gray;
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
        padding: 0.5rem 0;
        &::before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 2.4rem;
          content: "\f058";
          color: $yellow;
          font-style: normal;
          margin: 0 3rem 0 0;
          text-decoration: none;
        }
        span {
          font-family: $soleil-bold;
          font-size: 2.8rem;
          font-weight: normal;
          line-height: 4.5rem;
          color: $dark-gray;
        }
      }
    }
  }
  .view-resources {
    .table-responsive {
      & thead {
        & > tr {
          & > th {
            @media #{$tablet} {
              min-width: 15rem;
              &#view-title-table-column {
                min-width: 35rem;
              }
            }
          }
        }
      }
      & tbody {
        & > tr {
          & td {
            &.views-field-title {
              a {
                font-size: 2.4rem;
                line-height: 3rem;
                font-family: $soleil-bold;
                color: $edc-blue;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
  .lower-section-wrapper {
    background-color: $white;
    padding: 0;
    .lower-section.container {
      margin: 0 auto;
      padding: 0;
      .region-lower-section {
          .view-resources {
            .views-exposed-form .form-inline {
              display: flex;
              flex-direction: column;
              .form-item {
                margin-bottom: 2rem;
                label {
                  min-width: 12rem;
                  width: 100%;
                  text-transform: uppercase;
                  margin-bottom: 1rem;
                }
                select {
                  min-width: 40rem;
                  padding: 1rem;
                }
                input {
                  min-width: 40rem;
                  padding: 1rem;
                }
              }
              .form-group.form-actions {
                border-top: 1px solid $gray;
                padding-top: 2rem;
                button {
                  padding: 1.5rem 3.5rem;
                  background-color: $yellow;
                  border: 0;
                  border-radius: 0;
                  text-transform: uppercase;
                }
              }
            }
            .view-filters, .view-content {
              background-color: $light-gray;
              padding-left: 7rem;
              padding-right: 7rem;
              margin: 0;
            }
            .view-filters {
              padding-top: 7rem;
            }
            .view-content {
              padding-top: 7rem;
              padding-bottom: 7rem;
            }
            .pager-nav.text-center {
              text-align: left;
              .pagination {
                border-radius: 0;
                border: 0;
                li {
                  &.active {
                    a {
                      color: $yellow;
                      background-color: 0;
                    }
                  }
                  a {
                    color: $dark-gray;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                    padding-left: 0;
                    padding-right: 0.75rem;
                  }
                }
              }
            }
        }
      }
    }
  }
}

.table-striped > tbody > tr:nth-of-type(odd) { 
  background-color: transparent;
}

.view-trainings {
  .table-responsive {
    & thead {
      & > tr {
        & > th {
          @media #{$tablet} {
            min-width: 15rem;
            border-bottom: 1px solid $gray;
          }
        }
      }
    }
    & tbody {
      & > tr {
        & > td {
          @media #{$tablet} {
            border-bottom: 1px solid $gray;
          }
          &.views-field-title {
            a {
              font-size: 2.4rem;
              line-height: 3rem;
              font-family: $soleil-bold;
              color: $edc-blue;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

form .form-control {
  color: $dark-gray;
}

select option[selected="selected"] {
  font-style: italic;
  font-weight: bold;
  background-color: red;
  color: green !important;
}

.ui-accordion {
  .ui-accordion-content {
    @media #{$mobile} {
      padding: 2rem 0;
    }
  }
}

#block-moreservices {
  .field--name-body {
    & > .services-blocks {
      @media #{$mobile} {
        display: block;
        .image-section {
          width: 100%;
        }
        .serivces-block-content {
          h4 {
            margin-top: 2rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

.page-node-27 {
  .table-responsive {
    & tbody {
      &>tr {
        &>td {
          @media #{$tablet} {
            border-bottom: 1px solid $gray;
          }
          &.views-field-title {
            a {
              font-size: 2.4rem;
              line-height: 3rem;
              font-family: $soleil-bold;
              color: $edc-blue;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

.table-responsive {
  .table {
    &.table-hover > tbody > tr:hover {
      background: transparent;
    }
    &.table-striped {
      .table-row {
        &:hover {
          background: transparent;
        }
      }
    }
    & > thead {
      th {
        font-size: 1.8rem;
        line-height: 3rem;
        font-family: $soleil-bold;
        color: $dark-gray;
      }
    }
    & > tbody {
      tr {
        td {
          @media #{$tablet} {
            border-bottom: 1px solid $gray;
          }
          font-family: $soleil;
          font-size: 1.6rem;
          line-height: 2.4rem;
          color: $dark-gray;
          p {
            font-family: $soleil;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: $dark-gray;
          }
          &.views-field-title {
            font-family: $soleil-bold;
            font-size: 1.8rem;
            line-height: 3rem;
            color: $dark-gray;
          }
        }
      }
    }
  }
}

.path-contact {
  .main-container {
    h1.page-header {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: 0;
      border-left: 6px solid $yellow;
      padding: 0 0 0 2.5rem;
      font-family: $soleil-bold;
      font-size: 5.4rem;
      line-height: 5.4rem;
      text-transform: uppercase;
      color: $edc-blue;
      margin-bottom: 5rem;
    }
  }
}

.separator-pipe {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  @media #{$tablet} {
    &.lower-section {
      padding-left: 0;
      padding-right: 0;
    }
  }
}