// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

body {
  margin: 0;
  font-family: $font-family-base;
}

// Wrappers
.main-wrapper {
  margin: 0 auto;
}

.header-wrapper {
  background-color: $edc-blue;
}

.main-wrapper {
  background-color: $white;
}

.lower-section-wrapper {
  background-color: $light-gray;
}

.footer-wrapper {
  background-color: $edc-blue;
}

// Page header.
.page-header {
  margin-top: 0;
}

.navbar.container {
  max-width: 1170px;
}
.navbar.container.navbar-default {
  background-color: transparent;
  padding: 0;
  border: 0;
  @media #{$tablet} {
    min-height: 110px;
  }
  .navbar-collapse, .navbar-header {
    padding: 0;
    border: 0;
    @media #{$mobile} {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.region-navigation-collapsible {
  @media #{$tablet} {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 110px;
  }
}

#block-prevsol-account-menu {
  background-color: $darker-blue;
  .navbar-right {
    @media #{$tablet} {
      margin-right: 0;
    }
    & > li {
      & > a {
        color: $white;
        text-transform: uppercase;
        font-family: $soleil-light;
        font-weight: normal;
        font-size: 1.2rem;
        font-height: 1.2rem;
        @media #{$tablet} {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
    }
  }
}

#block-prevsol-mainnavigation {
  &.block-superfish {
    width: auto;
  }
  .sf-menu {
    & > li {
      @media #{$tablet} { 
        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      & > a {
        text-transform: uppercase;
        color: $white;
        font-size: 1.6rem;
        line-height: 1.6rem;
        font-family: $soleil;
        @media #{$tablet} {
          font-weight: bold;
          padding: 0;
          &:hover {
            color: $yellow;
            text-decoration: none;
          }

          &.is-active {
            border-bottom: 2px solid $yellow;
          }
          &.sf-with-ul + ul {
            background-color: $darker-blue;
            & > li {
              & > a {
                color: $white;
                text-decoration: none;
                font-size: 1.4rem;
                line-height: 1.4rem;
                font-family: $soleil;
                &:hover {
                  color: $yellow;
                }
              }
            }
          }
        }
      }
    }
  }
}

#block-prevsol-account-menu,
#block-prevsol-mainnavigation {
  .navbar-nav {
    @media #{$mobile} {
      margin: 0;
    }
  }
}

// Lower Section.

.lower-section {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
}

.block.block-block-content {
  span.ext {
    display: none;
  }
}

#block-followusfooter {
  h2.block-title {
    color: $white;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-family: $soleil;
    margin: 0;
  }
  .field--name-body {
    padding-top: 2rem;
  }
  i.fab {
    color: $white;
    font-size: 2rem;
    margin-right: 2rem;
  }
}

.footer-four-sections-wrapper {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#block-prevsol-footer {
  margin: 0;
  padding: 0;
  .menu--footer.nav {
    margin: 0;
    padding: 0;
    li {
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
      padding-bottom: 1.5rem;
      a {
        color: $white;
        font-size: 1.8rem;
        line-height: 1.8rem;
        font-family: $soleil;
        padding: 0;
        margin: 0;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

#block-prevsol-copyright {
  .field--name-body {
    p {
      font-size: 1.2rem;
      color: $white;
      font-family: $soleil-light;
    }
  }
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

.container {
  max-width: 1170px;
}

.featured-bottom-three-sections-wrapper {
  background-color: $light-gray;
  margin-bottom: 8rem;
  .featured-bottom-three-sections {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.well.region-sidebar-second {
  background-color: $white;
  border: 0;
  border-left: 1px solid $light-gray;
}

.main-container {
  & > .row {
    & > section.col-sm-9 {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
}

ul.sf-menu .sf-sub-indicator {
  display: none;
}