// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

body {
  margin: 0;
}

// Wrappers
.main-wrapper {
  margin: 0 auto;
}

.header-wrapper {
  background-color: $edc-blue;
}

.main-wrapper {
  background-color: $white;
}

.lower-section-wrapper {
  background-color: $light-gray;
}

.footer-wrapper {
  background-color: $edc-blue;
}

// Page header.
.page-header {
  margin-top: 0;
}

.navbar.container {
  max-width: 1170px;
}
.navbar.container.navbar-default {
  background-color: transparent;
  padding: 0;
  border: 0;
  @media #{$tablet} {
    min-height: 110px;
  }
  .navbar-collapse, .navbar-header {
    padding: 0;
    border: 0;
    @media #{$mobile} {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.region-navigation-collapsible {
  @media #{$tablet} {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 110px;
  }
}

#block-prevsol-account-menu {
  background-color: $darker-blue;
  .navbar-right {
    @media #{$tablet} {
      margin-right: 0;
    }
    & > li {
      & > a {
        color: $white;
        text-transform: uppercase;
        @media #{$tablet} {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
}

#block-prevsol-mainnavigation {
  &.block-superfish {
    width: auto;
  }
  .sf-menu {
    &>li {
      @media #{$tablet} { 
        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      &>a {
        text-transform: uppercase;
        color: $white;
        @media #{$tablet} {
          font-weight: bold;
          padding: 0;
          &:hover {
            color: $yellow;
            text-decoration: none;
          }

          &.is-active {
            border-bottom: 2px solid $yellow;
          }
          &.sf-with-ul + ul {
            background-color: $darker-blue;
            & > li {
              & > a {
                color: $white;
                text-decoration: none;
                &:hover {
                  color: $yellow;
                }
              }
            }
          }
        }
      }
    }
  }
}

#block-prevsol-account-menu,
#block-prevsol-mainnavigation {
  .navbar-nav {
    @media #{$mobile} {
      margin: 0;
    }
  }
}

// Lower Section.

.lower-section {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

.container {
  max-width: 1170px;
}